<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AsusFanControlGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <AsusFanControlGUI.Properties.Settings>
            <setting name="fanSpeed" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="turnOffControlOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forbidUnsafeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fanControlState" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="FanCurvePoints" serializeAs="String">
                <value>20,1-60,1-61,20-70,20-71,30-80,55</value>
            </setting>
            <setting name="allowFanCurveSettingViaText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hysteresis" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="updateSpeed" serializeAs="String">
                <value>2000</value>
            </setting>
        </AsusFanControlGUI.Properties.Settings>
    </userSettings>
</configuration>
